%h1.uk-heading-large
  Hello Administrator
%p.uk-text-large
  What want you?
%p
  %a.uk-button.uk-button-primary.uk-button-large{:href => "/admin/new"} New Access
  %a.uk-button.uk-button-primary.uk-button-large{:href => "/admin/log"} View Logs
  %a.uk-button.uk-button-primary.uk-button-large{:href => "/admin/list"} List Users

