!!!
%html
  %head
    %title
    %link{:href => "css/uikit.almost-flat.css", :rel => "stylesheet"}/
    %script{:src => "js/jquery-2.1.1.min.js"}
    %script{:src => "js/uikit.js"}
  %body
    .uk-container.uk-container-center.uk-margin-top.uk-margin-large-bottom
      .uk-navbar.uk-margin-large-bottom
        %a.uk-navbar-brand{:href => "/"} Doorbot™
        %a.uk-navbar-brand.uk-navbar-nav{:href => "admin"} Admin
        %a.uk-navbar-brand.uk-navbar-nav{:href => "potatoes"} Potatoes
      = yield
